<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QnectEDLogin"
        tools:targetApi="31">

        <!-- Launcher / Halaman Awal -->
        <activity
            android:name=".QRegister"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity lainnya -->
        <activity android:name=".QLogin" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".TabelScoreSiswa" android:exported="false" />
        <activity android:name=".GuruDaftarListSiswa" android:exported="false" />
        <activity android:name=".GuruQMatch" android:exported="false" />
        <activity android:name=".GuruQGambar" android:exported="false" />
        <activity android:name=".GuruQPG" android:exported="false" />
        <activity android:name=".GuruHistoryJnK" android:exported="false" />
        <activity android:name=".GuruSoalQ" android:exported="false" />
        <activity android:name=".GuruDaftarSKM" android:exported="false" />
        <activity android:name=".GuruDaftarQ" android:exported="false" />
        <activity android:name=".GuruKategoriQ" android:exported="false" />
        <activity android:name=".SiswaPKelas" android:exported="false" />
        <activity android:name=".GuruKelasS" android:exported="false" />
        <activity android:name=".GuruDashB" android:exported="false" />
        <activity android:name=".SiswaScoreQ" android:exported="false" />
        <activity android:name=".SiswaKomentarQ" android:exported="false" />
        <activity android:name=".SiswaHistoryQ" android:exported="false" />
        <activity android:name=".SiswaQuizPG" android:exported="false" />
        <activity android:name=".SiswaInformasiQ" android:exported="false" />
        <activity android:name=".SiswaDashB" android:exported="false" />

    </application>

</manifest>
